<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="chatstyle.css">
    <link rel="icon" type="image/png" href="..." />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messagerie</title>
</head>

<body>
    <header>
        <div class="media">
            <div class="media-body">
                <h1>Messagerie</h1>

            </div>
            <img src="user-icon.png" class="ml-1" alt="...">
        </div>
        <!--ajt lien vers la page profil-->
    </header>
    <div class="grid">
        <div class="users">
            <h3>Membres</h3>
            <div style="margin: 30px;">
                <th scope="col">#Id</th>
                <th scope="col">Nom</th>
                <% for(var i=0; i < users.length; i++) { %>
                <%= users[i].name %>
                <% } %>
            </div>
        </div>
        <div class="message">
            <h3>Derniers messages</h3>
            <!-- ajt messages ici-->
        </div>

        <div class="text">
            <form action="/newMsg" method="POST"></form>
            <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
        </div>
        <div class="send">
            <button type="button" class="btn btn-primary">Send</button>
        </div>
    </div>
</body>

</html>