<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Formulaire</title>
</head>

<body>

    <header>
        <div class="media">
            <img src="img/RT-logo.png" class="align-self-center mr-3 views" alt="RT-logo">
            <div class="media-body">
                <h1 class="mt-0">Serveur API</h1>
            </div>
        </div>
    </header>
    <form method="POST" action="/users">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputLastName">Login</label>
                <input type="text" id="login" name="login" class="form-control">
            </div>

        </div>
        <button type="submit" class="btn btn-primary" onclick="alert('Merci')">Sign in</button>
    </form>
    <footer>

    </footer>
</body>

</html>