<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="icon" type="image/png" href="..." />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <header>
        <h1 class="mt-0">Messagerie</h1>
    </header>

    <div class="card">
        <img src="../public/img/user-icon.png" class="card-img-top" alt="...">
        <form action="/chat" method="POST">
            <div class="form-group">
                <h2 class="card-title">Login</h2>
                <label for="inputLastName">Pseudo</label>
                <input type="text" id="login" name="login" class="form-control" required>
                <button type="submit" id="connection" class="btn btn-primary card-link" onclick="alert('bonjour!')">Se
                    Connecter</button>
            </div>
        </form>
    </div>

</body>

</html>